p{
    color: blue;
    font-size: 20px;
    /* font-family: sans-serif; */
}
h1{
    font-size: 40px;
    /* font-family: sans-serif; */
}
h1,p{
    font-family: sans-serif;
}
h4{
    text-transform: uppercase;
}
.uppercase{
    text-transform: uppercase;
}
.cursive{
    font-family: cursive;
}
#blog-desc{
color:#314831;
}
/* we use space for nesting so here it will search for all the h4 in li */
li h4{
    text-transform: uppercase;
    font-family: cursive;
}
#site-desc p{
    color: red;
}
#main-header:hover{
    color: orange;
}